#  Local .terraform directories
**/.terraform/*

# .tfstate templates
*.tfstate
*.tfstate.*

# .tfvars templates
*.tfvars

# Mac stuff
.DS_Store

# openshift pull-secret
pull-secret

# Bastion files
/files/*

# local
makefile
**/artifacts/*

# installer-templates
**/installer-files/*
**/reference/*
